body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.DialogBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.1);
}

.DialogContent {
    background-color: #111;
    color: #eee;
    font-family: monospace;
    font-size: 16pt;
    border: 1px solid #777;
    padding: 16px;
    border-radius: 16px;
}
